<%= link_to "Enter New Maxes", new_lifter_one_rep_max_path(@lifter) %> - 
<%= link_to "Increment Previous Week's Maxes", lifter_new_week_path(@lifter) %>
<br>
<div>
  <table class="table table-striped table-hover">
    <tr>
      <th>Date</th>
      <th>Deadlift</th>
      <th>Squat</th>
      <th>Bench Press</th>
      <th>Overhead Press</th>
      <th></th>
    </tr>
    <% @maxes.each do |max| %>
    <tr>
      <td><%= max.created_at.strftime("%d-%m-%Y") %></td>
      <td width="14%"><%= max.deadlift %></td>
      <td width="12%"><%= max.squat %></td>
      <td width="16%"><%= max.benchpress %></td>
      <td width="18%"><%= max.overheadpress %></td>
      <td><%= link_to "Generate Workout Plan", lifter_one_rep_max_plan_path(@lifter, max) %></td>
    </tr>
    <% end %>
  </table>
</div>