<div>
<%= link_to "<< Back", lifter_one_rep_maxes_path %>
</div>
<%= form_for [@lifter, @max] do |f| %>
  <table class="table">
    <tr>
      <th></th>
      <th>Weight</th>
      <th>Reps</th>
    </tr>
    <tr>
      <td>
        <%= f.label :deadlift %>
      </td>
      <td>
        <%= f.number_field :deadlift_wt, :value=>(@previous_max.deadlift)  %>
      </td>
      <td>
        <%= f.number_field :deadlift_reps, :value=>(1)  %>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= f.label :squat %>
      </td>
      <td>
        <%= f.number_field :squat_wt, :value=>(@previous_max.squat) %>
      </td>
      <td>
        <%= f.number_field :squat_reps, :value=>(1) %>
      </td>
    </tr>
      
    <tr>
      <td>
        <%= f.label :benchpress %>
      </td>
      <td>
        <%= f.number_field :benchpress_wt, :value=>(@previous_max.benchpress) %>
      </td>
      <td>
        <%= f.number_field :benchpress_reps, :value=>(1) %>
      </td>
      
    </tr>
    
    <tr>
      <td>
        <%= f.label :overheadpress, "Overhead Press" %>
      </td>
      <td>
        <%= f.number_field :overheadpress_wt, :value=>(@previous_max.overheadpress) %>
      </td>
      <td>
        <%= f.number_field :overheadpress_reps, :value=>(1) %>
      </td>
      
    </tr>
    
  </table>
  <br>
  <div class="text-center"> 
    <%= f.submit "Create One Rep Max", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>